:root {
    --primary: #0E2549;
    --secondary: #A1C5E2;
    --accent: #E2474B;
    --bg: #EBF4FE;
    --bg-light: #FFFFFF;
}

h1 {
    color: var(--primary);
}

h1.light {
    font-weight: 400;
}

h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/* Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #E1EDF6;
    transition: background-color .3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #8DBADF;
}