:root {
    --primary: #0E2549;
    --secondary: #A1C5E2;
    --accent: #E2474B;
    --bg: #EBF4FE;
    --bg-light: #FFFFFF;
}

h1 {
    color: var(--primary);
}

h1.light {
    font-weight: 400;
}

h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}